.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.grid__item {
  background-color: #00000033;
  padding: 20px;
  border-radius: 8px;
}

@media only screen and (max-width: 1350px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.input {
  margin-right: 5px;
  width: 100%;
  background-color: transparent;
  border: none;
}

.input--date {
  background-color: transparent;
  border: 1px solid #ffffff20;
  border-radius: 4px;
  padding: 5px;
  margin-right: auto;
}

.input:focus-visible,
.input--date:focus-visible {
  outline: none;
}
